/* HOMEPAGE  */

body {
  background-color: #3a6073; /* fallback color if gradients are not supported */
  background-image: linear-gradient(to bottom, #eebd89, #ff9190);
}

/* HEADER */
.header {
  background-color: #eebd89;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.header-title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.a {
  text-decoration: none;
  color: inherit;
}
