/* SIGNUP BTN */
.signup-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.signup-container p {
  margin-right: 16px;
  font-size: 14px;
}

.signUp-btn {
  background-color: transparent;
  color: rgb(16, 109, 114);
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.signUp-btn:hover {
  text-decoration: underline;
}
