/* GENERAL*/

/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

body {
  background: #f6f6f5;
  margin: 0;
  font-family: "Montserrat";
  --primary: #3dbeb6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header a {
  color: #297297;
  text-decoration: none;
  font-size: 17px;
  margin-right: 20px; /* add margin to the right of the links */
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  margin-left: auto;
  color: #129e89;
  background-color: #ffffff;
  text-decoration: underline;
  border: none;
}

.login-button:hover {
  color: rgb(200, 200, 200);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

footer {
  background: #fbf9f9;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-p {
  margin: 0;
}
