

/* GENERAL*/

.login-button {
  margin-left: auto;
  color: #129e89;
  background-color: #ffffff;
  text-decoration: underline;
  border: none;
}

.login-button:hover {
  color: rgb(200, 200, 200);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* APP.CSS */
/* SIGNIN BTN */
  
  .homepage-signin-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .Homepage-signin-button {
    background-color: #20ab98;
    color: white;
    padding: 8px 19px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: auto;
  }
  
  .homepage-signin-button:hover {
    background-color: #c7c9c9;
  }
  
  /* SIGNUP BTN */
  
  .homepage-signup-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .homepage-signup-text{
    margin-right: 16px;
    font-size: 14px;
  }
  
  .homepage-signup-button {
    background-color: transparent;
    color: #20ab98;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .homepage-signup-button:hover {
    text-decoration: underline;
  }
  
  
  /* SIGNIN */
  .signin-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .signin-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  
  .signin-popup-close {
    display: block;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
  }
  
  .signin-popup-inputfield {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .signin-popup-signin-button {
    background-color: #1d8296;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin-popup-signin-button:hover {
    background-color: #1d8296;
  }
  
  .signin-popup-separator{
    margin: 1rem 0;
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    color: #333;
  }
  
  .google-signin-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .google-signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    padding: 0 24px;
    text-align: center;
    transition: box-shadow 0.2s ease;
    background-color: #fff;
  }
  
  .google-signin-button:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .google-signin-button img {
    margin-right: 8px;
    width: 18px;
  }



/*   
signup.css */


  /* SIGNUP-POPUP */
.signup-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .signup-popup__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  
  .signup-popup__close {
    display: block;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
  }
  

  .signup-popup__input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .signup-popup__signup-button {
    background-color: #1d8296;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-popup__signup-button:hover {
    background-color: #1d8296;
  }
  
  

  /* signin.css */


  /* SIGNIN-POPUP */
.signin-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .signin-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  
  .signin-popup-close {
    display: block;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
  }
  
  .signin-popup-inputfield {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .signin-popup-signin-button {
    background-color: #1d8296;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin-popup-signin-button:hover {
    background-color: #1d8296;
  }
  
  .signin-popup-separator {
    margin: 1rem 0;
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    color: #333;
  }
  
  .google-signin-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .google-signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    padding: 0 24px;
    text-align: center;
    transition: box-shadow 0.2s ease;
    background-color: #fff;
  }
  
  .google-signin-button:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .google-signin-button img {
    margin-right: 8px;
    width: 18px;
  }
  